# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# folders
node_modules
logs
.pnp
.pnp.js
.turbo
.next
.vercel

# production
build
dist
*.tsbuildinfo

# testing
coverage
.nyc_output

# misc
.DS_Store
.env
.env.*
*.log
.pnp.js
*.pem
next-env.d.ts

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json