# folders
node_modules
public
build
dist
.next
.vercel

# config-files
tsconfig.json
package.json
turbo.json
yarn.lock
package-lock.json
.eslintrc
.eslintc.*
.eslintcache
.gitignore
.prettierignore
.prettierrc
.prettierrc.*
.tsbuildifo

# static asset files
*.jpg
*.jpeg
*.png
*.svg
*.otf
*.ttf
*.woff

# custom files
*.js
*.jsx
*.ts
*.tsx
*.md
*.log
*.d.ts
*.yml
*.yaml
**/*.env.*
