**/public
**/build
**/dist
**/images
**/icons

**/*.env.*

.eslintrc.json
.eslintcache
.gitignore
.prettierignore
.prettierrc
turbo.json

**/package.json
**/tsconfig.json
**/*.yml
**/*.md
**/README.md

yarn.lock
yarn-error.log
