name: github-actions

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.10.0]
        os: [ubuntu-latest]

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn
      
      - name: Build @core/lib
        run: yarn lib:build

      - name: Build express-server
        run: yarn workspace express-server build

      - name: Build nestjs-server
        run: yarn workspace nestjs-server build

      - name: Build frontend
        run: yarn workspace frontend build

      - name: Build next-client
        run: yarn workspace next-client build
